In [48]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import xlrd 
import json


# # Import API key
# from api_keys import api_key

In [49]:
#import data from url to get the state abbr
url="http://worldpopulationreview.com/static/states/name-abbr.json"
d = requests.get(url).json()

states_abbr = pd.DataFrame(d.items() , columns=["state","abbr"])
states_abbr.head()

            state abbr
0         Alabama   AL
1          Alaska   AK
2  American Samoa   AS
3         Arizona   AZ
4        Arkansas   AR

In [50]:
#import excel file with obesity, unemployment, education
xls = pd.ExcelFile('Resources/2018 County Health Rankings Data - v2.xls')
df = pd.read_excel(xls, 'Ranked Measure Data', skiprows=1)

In [51]:
df.head()

,FIPS,State,County,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Quartile,Years of Potential Life Lost Rate (Black),Years of Potential Life Lost Rate (Hispanic),Years of Potential Life Lost Rate (White),...,95% CI - High.20,Quartile.33,% Drive Alone (Black),% Drive Alone (Hispanic),% Drive Alone (White),# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low.21,95% CI - High.21,Quartile.34
0,1001.0,Alabama,Autauga,9409.294766,8492.111635,10326.477898,2,11806.223285,NaN,9148.381743,...,88.431482,4,82.494851,NaN,82.539683,21082.0,40.8,36.698437,44.901563,3
1,1003.0,Alabama,Baldwin,7467.596664,7025.900408,7909.292920,1,10335.702691,2827.348216,7484.117065,...,86.017804,2,85.567010,68.864800,84.646255,73058.0,40.1,37.614952,42.585048,3
2,1005.0,Alabama,Barbour,8929.474982,7633.929691,10225.020273,1,9141.333085,NaN,8896.000532,...,85.796041,1,80.341227,NaN,85.656228,7271.0,35.1,29.740946,40.459054,2
3,1007.0,Alabama,Bibb,11741.938889,10057.801626,13426.076153,4,11297.166352,NaN,11923.067966,...,89.905820,2,NaN,NaN,NaN,7044.0,48.8,40.894758,56.705242,4
4,1009.0,Alabama,Blount,9359.122343,8463.490290,10254.754396,1,NaN,5133.144570,9600.725685,...,87.622499,3,NaN,79.539642,81.580997,18384.0,60.2,55.818947,64.581053,4

In [52]:
#rename columns used for analysis
df.rename(columns={ df.columns[114]: "Unemployment Percent" }, inplace = True)
df.rename(columns={ df.columns[34]: "Obesity Percent" }, inplace = True)
df.rename(columns={ df.columns[108]: "Some College Percent" }, inplace = True)
df.rename(columns={ df.columns[104]: "High School Grad Percent" }, inplace = True)

Unemployment_Percent=df["Unemployment Percent"]
Obesity_Percent=df["Obesity Percent"]
Some_College=df["Some College Percent"]
High_School=df["High School Grad Percent"]
State_Name=df["State"]
County=df["County"]
state_abbr=states_abbr["abbr"]

#create new Dataframe with just information needed
stats_df= pd.DataFrame({"State": State_Name,
                        "State Abbr": state_abbr,
                        "County": County,
                        "Unemployment (%)": Unemployment_Percent,
                        "Obesity (%)": Obesity_Percent,
                        "Some College (%)": Some_College,
                        "High School Graduate (%)": High_School
                       })

stats_df.head()

,State,State Abbr,County,Unemployment (%),Obesity (%),Some College (%),High School Graduate (%)
0,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.000000
1,Alabama,AK,Baldwin,5.415263,29.3,63.757100,85.000000
2,Alabama,AS,Barbour,8.648518,44.2,39.723661,86.173469
3,Alabama,AZ,Bibb,6.637117,38.4,49.821371,85.000000
4,Alabama,AR,Blount,5.520897,35.8,53.866457,91.206250

In [75]:
income_xl = pd.ExcelFile('Resources/county income level PROJECT.xlsx')
income_df = pd.read_excel(income_xl, skiprows = [1,2,3,4,5,6,])
income_df.head()

,Unnamed: 0,"Table 1. Per Capita Personal Income by County, 2015 - 2017",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Alabama,Autauga,38591.0,39509.0,40484.0,9,2.4,2.5,67
1,Alabama,Baldwin,41412.0,43004.0,44079.0,4,3.8,2.5,66
2,Alabama,Barbour,31509.0,31750.0,33453.0,46,0.8,5.4,11
3,Alabama,Bibb,29048.0,28989.0,30022.0,66,-0.2,3.6,47
4,Alabama,Blount,31987.0,32261.0,33707.0,45,0.9,4.5,19

In [76]:
income_df.rename(columns={ income_df.columns[2]: "2015($)" }, inplace = True)
income_df.rename(columns={ income_df.columns[3]: "2016($)" }, inplace = True)
income_df.rename(columns={ income_df.columns[4]: "2017($)" }, inplace = True)
income_df.rename(columns = {income_df.columns[0]: "State"}, inplace = True)
income_df.rename(columns = {income_df.columns[1]: "County"}, inplace = True)

income_df.head()

,State,County,2015($),2016($),2017($),Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Alabama,Autauga,38591.0,39509.0,40484.0,9,2.4,2.5,67
1,Alabama,Baldwin,41412.0,43004.0,44079.0,4,3.8,2.5,66
2,Alabama,Barbour,31509.0,31750.0,33453.0,46,0.8,5.4,11
3,Alabama,Bibb,29048.0,28989.0,30022.0,66,-0.2,3.6,47
4,Alabama,Blount,31987.0,32261.0,33707.0,45,0.9,4.5,19

In [77]:
year2015_data = income_df["2015($)"]
year2016_data = income_df["2016($)"]
year2017_data = income_df["2017($)"]

income_state_name=income_df["State"]
income_county=income_df["County"]

In [78]:
rename_income_df= pd.DataFrame({"State": income_state_name,
                        "County": income_county,
                        "2015($)": year2015_data,
                        "2016($)": year2016_data,
                        "2017($)": year2017_data,
                       })
rename_income_df.head()

     State   County  2015($)  2016($)  2017($)
0  Alabama  Autauga  38591.0  39509.0  40484.0
1  Alabama  Baldwin  41412.0  43004.0  44079.0
2  Alabama  Barbour  31509.0  31750.0  33453.0
3  Alabama     Bibb  29048.0  28989.0  30022.0
4  Alabama   Blount  31987.0  32261.0  33707.0

In [80]:
merge_states_info = pd.merge(stats_df, rename_income_df, on="State")
merge_states_info

,State,State Abbr,County_x,Unemployment (%),Obesity (%),Some College (%),High School Graduate (%),County_y,2015($),2016($),2017($)
0,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Autauga,38591.0,39509.0,40484.0
1,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Baldwin,41412.0,43004.0,44079.0
2,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Barbour,31509.0,31750.0,33453.0
3,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Bibb,29048.0,28989.0,30022.0
4,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Blount,31987.0,32261.0,33707.0
5,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Bullock,26222.0,26450.0,27500.0
6,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Butler,33700.0,33888.0,35196.0
7,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Calhoun,34188.0,34869.0,36255.0
8,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Chambers,31438.0,32562.0,33758.0
9,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Cherokee,32906.0,32758.0,34371.0
10,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Chilton,31830.0,32268.0,33350.0
11,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Choctaw,35621.0,36232.0,37253.0
12,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Clarke,33684.0,34476.0,35448.0
13,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Clay,31091.0,31314.0,33230.0
14,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Cleburne,33556.0,33917.0,35298.0
15,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Coffee,39558.0,40319.0,42076.0
16,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Colbert,35684.0,36452.0,37602.0
17,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Conecuh,30052.0,30536.0,31616.0
18,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Coosa,28075.0,29284.0,30332.0
19,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Covington,32396.0,32971.0,34785.0
20,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Crenshaw,36199.0,34596.0,36832.0
21,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Cullman,36824.0,36721.0,38615.0
22,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Dale,34131.0,34559.0,35834.0
23,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Dallas,32148.0,33691.0,34955.0
24,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,DeKalb,29764.0,29405.0,30982.0
25,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Elmore,38445.0,39575.0,40601.0
26,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Escambia,30486.0,30772.0,31842.0
27,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Etowah,34129.0,34783.0,36069.0
28,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Fayette,32100.0,32394.0,33996.0
29,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.0,Franklin,31275.0,31153.0,32985.0
...,...,...,...,...,...,...,...,...,...,...,...
296438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Carroll + Galax,33086.0,33494.0,34940.0
296439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dinwiddie, Colonial Heights + Petersburg",38080.0,38007.0,39637.0
296440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Fairfax, Fairfax City + Falls Church",75756.0,76213.0,78376.0
296441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Frederick + Winchester,45631.0,47070.0,48509.0
296442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Greensville + Emporia,28781.0,30136.0,32071.0
296443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Henry + Martinsville,35976.0,36598.0,37827.0
296444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,James City + Williamsburg,60080.0,60723.0,62350.0
296445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Montgomery + Radford,34026.0,34436.0,35822.0
296446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pittsylvania + Danville,34958.0,35443.0,37053.0
296447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prince George + Hopewell,35935.0,36350.0,37916.0
296448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Prince William, Manassas + Manassas Park",50278.0,51313.0,52929.0
296449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Roanoke + Salem,48952.0,48913.0,49860.0
296450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Rockbridge, Buena Vista + Lexington",37663.0,37820.0,38981.0
296451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rockingham + Harrisonburg,36655.0,36545.0,38045.0
296452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Southampton + Franklin,37185.0,37860.0,40917.0
296453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spotsylvania + Fredericksburg,46368.0,47318.0,48823.0
296454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington + Bristol,37650.0,36420.0,39221.0
296455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wise + Norton,30893.0,30533.0,31849.0
296456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,York + Poquoson,54181.0,54944.0,56763.0
296457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington,53776.0,55519.0,57896.0
296459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West Virginia,36818.0,36958.0,38479.0
296461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin,46571.0,47426.0,48941.0
296463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wyoming,57182.0,55452.0,57346.0
296465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1. Per capita personal income was computed usi...,NaN,NaN,NaN
296466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2. Virginia combination areas consist of one o...,NaN,NaN,NaN
296467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Source: U.S. Bureau of Economic Analysis,NaN,NaN,NaN