In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import xlrd 
import json


# # Import API key
# from api_keys import api_key

In [2]:
#import data from url to get the state abbr
url="http://worldpopulationreview.com/static/states/name-abbr.json"
d = requests.get(url).json()

states_abbr = pd.DataFrame(d.items() , columns=["State","State Abbr"])

states_abbr.head()

            State State Abbr
0         Alabama         AL
1          Alaska         AK
2  American Samoa         AS
3         Arizona         AZ
4        Arkansas         AR

In [3]:
#import excel file with obesity, unemployment, education
xls = pd.ExcelFile('Resources/2018 County Health Rankings Data - v2.xls')
df = pd.read_excel(xls, 'Ranked Measure Data', skiprows=1)

In [4]:
df.head()

,FIPS,State,County,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Quartile,Years of Potential Life Lost Rate (Black),Years of Potential Life Lost Rate (Hispanic),Years of Potential Life Lost Rate (White),...,95% CI - High.20,Quartile.33,% Drive Alone (Black),% Drive Alone (Hispanic),% Drive Alone (White),# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low.21,95% CI - High.21,Quartile.34
0,1001.0,Alabama,Autauga,9409.294766,8492.111635,10326.477898,2,11806.223285,NaN,9148.381743,...,88.431482,4,82.494851,NaN,82.539683,21082.0,40.8,36.698437,44.901563,3
1,1003.0,Alabama,Baldwin,7467.596664,7025.900408,7909.292920,1,10335.702691,2827.348216,7484.117065,...,86.017804,2,85.567010,68.864800,84.646255,73058.0,40.1,37.614952,42.585048,3
2,1005.0,Alabama,Barbour,8929.474982,7633.929691,10225.020273,1,9141.333085,NaN,8896.000532,...,85.796041,1,80.341227,NaN,85.656228,7271.0,35.1,29.740946,40.459054,2
3,1007.0,Alabama,Bibb,11741.938889,10057.801626,13426.076153,4,11297.166352,NaN,11923.067966,...,89.905820,2,NaN,NaN,NaN,7044.0,48.8,40.894758,56.705242,4
4,1009.0,Alabama,Blount,9359.122343,8463.490290,10254.754396,1,NaN,5133.144570,9600.725685,...,87.622499,3,NaN,79.539642,81.580997,18384.0,60.2,55.818947,64.581053,4

In [5]:
#rename columns used for analysis
df.rename(columns={ df.columns[114]: "Unemployment Percent" }, inplace = True)
df.rename(columns={ df.columns[34]: "Obesity Percent" }, inplace = True)
df.rename(columns={ df.columns[108]: "Some College Percent" }, inplace = True)
df.rename(columns={ df.columns[104]: "High School Grad Percent" }, inplace = True)


#merge data
stats_df = pd.merge(states_abbr, df,
                                 how='left', on='State')

stats_df.head()

,State,State Abbr,FIPS,County,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Quartile,Years of Potential Life Lost Rate (Black),Years of Potential Life Lost Rate (Hispanic),...,95% CI - High.20,Quartile.33,% Drive Alone (Black),% Drive Alone (Hispanic),% Drive Alone (White),# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low.21,95% CI - High.21,Quartile.34
0,Alabama,AL,1001.0,Autauga,9409.294766,8492.111635,10326.477898,2,11806.223285,NaN,...,88.431482,4,82.494851,NaN,82.539683,21082.0,40.8,36.698437,44.901563,3
1,Alabama,AL,1003.0,Baldwin,7467.596664,7025.900408,7909.292920,1,10335.702691,2827.348216,...,86.017804,2,85.567010,68.864800,84.646255,73058.0,40.1,37.614952,42.585048,3
2,Alabama,AL,1005.0,Barbour,8929.474982,7633.929691,10225.020273,1,9141.333085,NaN,...,85.796041,1,80.341227,NaN,85.656228,7271.0,35.1,29.740946,40.459054,2
3,Alabama,AL,1007.0,Bibb,11741.938889,10057.801626,13426.076153,4,11297.166352,NaN,...,89.905820,2,NaN,NaN,NaN,7044.0,48.8,40.894758,56.705242,4
4,Alabama,AL,1009.0,Blount,9359.122343,8463.490290,10254.754396,1,NaN,5133.144570,...,87.622499,3,NaN,79.539642,81.580997,18384.0,60.2,55.818947,64.581053,4

In [6]:
#clean up data to show only stats in comparision
Unemployment_Percent=stats_df["Unemployment Percent"]
Obesity_Percent=stats_df["Obesity Percent"]
Some_College=stats_df["Some College Percent"]
High_School=stats_df["High School Grad Percent"]
State_Name=stats_df["State"]
County=stats_df["County"]
state_abbr=stats_df["State Abbr"]

#create new Dataframe with just information needed
formatted_df= pd.DataFrame({"State": State_Name,
                        "State Abbr": state_abbr,
                        "County": County,
                        "Unemployment (%)": Unemployment_Percent,
                        "Obesity (%)": Obesity_Percent,
                        "Some College (%)": Some_College,
                        "High School Graduate (%)": High_School
                       })

formatted_df.head()

,State,State Abbr,County,Unemployment (%),Obesity (%),Some College (%),High School Graduate (%)
0,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.000000
1,Alabama,AL,Baldwin,5.415263,29.3,63.757100,85.000000
2,Alabama,AL,Barbour,8.648518,44.2,39.723661,86.173469
3,Alabama,AL,Bibb,6.637117,38.4,49.821371,85.000000
4,Alabama,AL,Blount,5.520897,35.8,53.866457,91.206250

In [7]:
formatted_df.count()

State                       3150
State Abbr                  3150
County                      3141
Unemployment (%)            3140
Obesity (%)                 3141
Some College (%)            3141
High School Graduate (%)    2671
dtype: int64

In [8]:
#drop rows missing data
formatted_df.dropna()

,State,State Abbr,County,Unemployment (%),Obesity (%),Some College (%),High School Graduate (%)
0,Alabama,AL,Autauga,5.271161,36.4,61.942019,90.000000
1,Alabama,AL,Baldwin,5.415263,29.3,63.757100,85.000000
2,Alabama,AL,Barbour,8.648518,44.2,39.723661,86.173469
3,Alabama,AL,Bibb,6.637117,38.4,49.821371,85.000000
4,Alabama,AL,Blount,5.520897,35.8,53.866457,91.206250
5,Alabama,AL,Bullock,7.171066,40.2,33.716075,87.500000
6,Alabama,AL,Butler,7.128778,36.0,42.221767,83.000000
7,Alabama,AL,Calhoun,6.697384,36.1,56.743524,92.163374
8,Alabama,AL,Chambers,5.543809,38.0,46.389824,85.000000
9,Alabama,AL,Cherokee,5.213652,35.5,55.565627,88.000000
10,Alabama,AL,Chilton,5.617919,36.0,39.118551,86.000000
11,Alabama,AL,Choctaw,8.883721,39.5,55.706619,87.500000
12,Alabama,AL,Clarke,11.147173,38.4,38.972542,92.860526
13,Alabama,AL,Clay,6.153293,38.1,44.175084,92.500000
14,Alabama,AL,Cleburne,6.088150,34.6,46.674151,98.000000
15,Alabama,AL,Coffee,6.053328,34.2,61.433730,96.229388
16,Alabama,AL,Colbert,7.010588,34.6,54.063387,88.850877
17,Alabama,AL,Conecuh,8.621816,38.2,38.762339,82.500000
18,Alabama,AL,Coosa,6.143114,40.1,44.413296,82.500000
19,Alabama,AL,Covington,6.997141,33.8,54.011765,95.275938
20,Alabama,AL,Crenshaw,6.014571,39.6,45.152268,92.500000
21,Alabama,AL,Cullman,5.098767,34.6,52.292097,90.859539
22,Alabama,AL,Dale,5.916924,36.5,59.563835,90.444874
23,Alabama,AL,Dallas,9.394720,42.4,47.143620,90.084813
24,Alabama,AL,DeKalb,6.203474,30.5,43.734273,91.780443
25,Alabama,AL,Elmore,4.925666,36.5,52.371069,90.379939
26,Alabama,AL,Escambia,6.731361,38.6,35.838336,84.131980
27,Alabama,AL,Etowah,5.965320,36.8,52.675678,84.065854
28,Alabama,AL,Fayette,6.969280,35.6,52.421053,92.500000
29,Alabama,AL,Franklin,6.099249,33.2,42.131335,92.801609
...,...,...,...,...,...,...,...
3118,Wisconsin,WI,Vilas,5.820791,28.7,66.513366,95.420168
3119,Wisconsin,WI,Walworth,4.120803,24.9,63.119322,90.490698
3120,Wisconsin,WI,Washburn,5.180632,29.8,60.379919,93.371212
3121,Wisconsin,WI,Washington,3.471833,30.7,73.937183,92.538674
3122,Wisconsin,WI,Waukesha,3.585597,25.3,80.140731,94.072492
3123,Wisconsin,WI,Waupaca,4.096910,32.2,54.672690,95.301873
3124,Wisconsin,WI,Waushara,5.198883,34.2,46.863544,91.270950
3125,Wisconsin,WI,Winnebago,3.691881,33.7,67.607821,90.809637
3126,Wisconsin,WI,Wood,4.964166,31.5,65.673276,93.311966
3127,Wyoming,WY,Albany,3.163686,23.0,85.076465,79.000000
3128,Wyoming,WY,Big Horn,4.906877,30.2,65.920195,73.539095
3129,Wyoming,WY,Campbell,7.103448,34.3,60.141863,78.000000
3130,Wyoming,WY,Carbon,4.625030,28.0,57.977034,75.677966
3131,Wyoming,WY,Converse,6.161018,29.6,61.187215,86.858289
3132,Wyoming,WY,Crook,4.540627,24.7,59.416614,92.500000
3133,Wyoming,WY,Fremont,7.142857,29.7,61.253117,71.058091
3134,Wyoming,WY,Goshen,3.408135,30.2,70.969878,77.500000
3136,Wyoming,WY,Johnson,5.322924,21.1,61.214165,82.500000
3137,Wyoming,WY,Laramie,4.114157,30.5,70.791711,75.826942
3138,Wyoming,WY,Lincoln,4.606088,27.0,64.329337,91.122449
3139,Wyoming,WY,Natrona,7.103348,31.3,65.122795,77.000000
3140,Wyoming,WY,Niobrara,3.230543,25.7,64.888889,52.500000
3141,Wyoming,WY,Park,4.685843,24.8,73.046450,85.024917
3142,Wyoming,WY,Platte,4.806492,28.7,55.685815,79.950980
3143,Wyoming,WY,Sheridan,4.648148,25.1,73.214802,86.313433
3144,Wyoming,WY,Sublette,6.377015,26.2,55.926606,93.554688
3145,Wyoming,WY,Sweetwater,5.982484,31.1,57.937984,78.225352
3146,Wyoming,WY,Teton,3.409461,13.3,78.915364,97.500000
3147,Wyoming,WY,Uinta,5.766793,32.2,57.085020,85.675516
3148,Wyoming,WY,Washakie,4.683841,27.1,54.670913,72.636364

In [9]:
formatted_df.count()

State                       3150
State Abbr                  3150
County                      3141
Unemployment (%)            3140
Obesity (%)                 3141
Some College (%)            3141
High School Graduate (%)    2671
dtype: int64

In [12]:
#Get sample of 25% of population
sample = formatted_df.sample(frac =.30)
sample

,State,State Abbr,County,Unemployment (%),Obesity (%),Some College (%),High School Graduate (%)
302,Colorado,CO,San Miguel,3.309969,18.3,75.937122,NaN
2021,North Dakota,ND,McLean,3.608247,35.6,68.361303,NaN
1137,Louisiana,LA,Grant,6.993675,35.9,38.181818,85.000000
829,Iowa,IA,Grundy,3.500670,31.6,77.338651,NaN
1841,New York,NY,Clinton,5.348759,30.1,56.462620,85.066631
804,Iowa,IA,Calhoun,3.873395,33.5,67.971014,96.557018
3026,West Virginia,WV,Mason,7.067067,38.3,50.867594,89.000000
2504,Tennessee,TN,Polk,5.778491,34.4,41.151499,92.500000
2606,Texas,TX,Floyd,5.190058,28.1,48.179272,92.200000
1860,New York,NY,Montgomery,5.672811,29.1,55.195416,77.449909
3076,Wisconsin,WI,Grant,4.056168,34.7,65.025193,92.273603
2533,Texas,TX,Aransas,5.730831,30.0,47.625301,91.400000
222,California,CA,San Bernardino,5.707482,27.3,54.056300,80.731514
2624,Texas,TX,Hale,5.695396,30.5,46.433409,90.700000
450,Georgia,GA,Glascock,6.117647,28.5,49.289773,NaN
2879,Virginia,VA,Lee,6.805048,32.1,46.719952,76.000000
143,Arkansas,AR,Independence,4.985007,36.4,54.940318,88.928571
881,Iowa,IA,Wapello,5.895427,35.6,56.427667,86.590402
2526,Tennessee,TN,Weakley,6.068869,33.6,55.500686,94.000000
2969,Washington,WA,Douglas,7.110014,30.5,52.360560,80.233570
1288,Michigan,MI,Mecosta,5.392719,35.4,57.953230,79.004329
856,Iowa,IA,Mills,3.670835,38.5,61.747083,92.948370
2157,Oklahoma,OK,Dewey,4.143337,36.6,49.417476,NaN
2035,North Dakota,ND,Sheridan,5.785124,33.7,64.566929,NaN
2458,Tennessee,TN,Fayette,5.174988,31.2,53.888452,80.000000
62,Alabama,AL,Tuscaloosa,5.769641,33.4,64.250746,84.715005
2298,Pennsylvania,PA,Northumberland,6.345987,36.7,45.026248,86.980120
334,Florida,FL,DeSoto,5.187597,36.8,19.576778,62.000000
1315,Michigan,MI,Washtenaw,3.432711,23.9,84.377917,86.573907
3085,Wisconsin,WI,Kewaunee,3.790483,34.2,65.248849,95.636531
...,...,...,...,...,...,...,...
1540,Missouri,MO,Lafayette,4.267045,31.7,56.575213,92.814861
3100,Wisconsin,WI,Ozaukee,3.469870,25.6,81.903507,95.711812
1491,Missouri,MO,Barry,4.507928,32.9,45.208748,91.160896
2990,Washington,WA,Skamania,7.203306,29.1,62.921348,82.500000
1544,Missouri,MO,Linn,6.771030,33.8,49.300699,89.511173
3124,Wisconsin,WI,Waushara,5.198883,34.2,46.863544,91.270950
619,Illinois,IL,DuPage,4.790630,24.2,77.529920,93.582455
2109,Ohio,OH,Ottawa,6.397210,30.5,64.618386,92.720865
1744,Nebraska,NE,Thurston,5.006720,43.3,54.651964,NaN
1534,Missouri,MO,Jackson,5.059978,32.8,66.375270,85.644440
833,Iowa,IA,Hardin,3.967057,33.6,68.610113,94.634434
2444,Tennessee,TN,Carter,5.749158,34.7,49.063533,86.998236
2335,South Carolina,SC,Chesterfield,4.800547,36.8,41.828204,88.000000
1143,Louisiana,LA,Lafayette,6.179622,32.0,64.139706,76.000000
1572,Missouri,MO,Putnam,4.517951,31.3,61.373391,NaN
1307,Michigan,MI,Saginaw,5.112332,39.8,64.801833,78.128065
2059,Ohio,OH,Clark,5.194415,32.6,57.167821,84.098010
572,Idaho,ID,Custer,5.236092,28.8,70.270270,NaN
884,Iowa,IA,Wayne,3.861004,33.9,55.128205,NaN
2765,Texas,TX,Walker,5.278283,31.9,44.302898,79.300000
769,Indiana,IN,Rush,3.796193,35.8,43.640637,97.500000
1108,Kentucky,KY,Union,6.669904,31.3,52.747253,92.500000
2280,Pennsylvania,PA,Huntingdon,7.056738,30.5,43.364320,89.391447
1192,Maine,ME,Somerset,5.824213,33.7,53.732504,85.857401
770,Indiana,IN,St. Joseph,4.529591,31.2,65.209472,88.065976
288,Colorado,CO,Montrose,4.213371,20.0,52.947248,78.691429
1162,Louisiana,LA,St. James,7.486797,37.4,53.546238,79.000000
1094,Kentucky,KY,Powell,6.994138,38.9,44.895371,92.500000
2099,Ohio,OH,Medina,4.346266,31.6,71.626965,95.816157
919,Kansas,KS,Ford,3.286593,32.4,46.296501,83.933921