In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import xlrd 


# # Import API key
# from api_keys import api_key

In [24]:
#import excel file with obesity, unemployment, education
xls = pd.ExcelFile('Resources/2019 County Health Rankings Data - v2.xls')
df = pd.read_excel(xls, 'Ranked Measure Data', skiprows=1)

In [26]:
df.head()

,FIPS,State,County,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Quartile,YPLL Rate (Black),YPLL Rate (Hispanic),YPLL Rate (White),...,95% CI - High.17,Quartile.33,% Drive Alone (Black),% Drive Alone (Hispanic),% Drive Alone (White),# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low.18,95% CI - High.18,Quartile.34
0,1001,Alabama,Autauga,8824.057123,7935.325829,9712.788417,1,10471.252986,NaN,8706.658832,...,88.900847,3,82.722037,NaN,83.710021,20911,38.3,34.362673,42.237327,3
1,1003,Alabama,Baldwin,7224.632160,6794.128380,7655.135940,1,10042.472874,3086.605695,7277.780727,...,86.570681,2,84.921904,68.343876,83.799135,74415,40.5,38.183480,42.816520,3
2,1005,Alabama,Barbour,9586.165037,8200.117541,10972.212533,1,11332.562909,NaN,7309.636719,...,85.769343,1,80.154701,NaN,86.245265,7242,33.8,28.867176,38.732824,2
3,1007,Alabama,Bibb,11783.543675,10159.978321,13407.109028,3,14812.539280,NaN,11327.563749,...,90.677264,3,NaN,NaN,NaN,6930,48.6,40.310796,56.889204,4
4,1009,Alabama,Blount,10908.101822,9895.582572,11920.621071,3,NaN,5619.645186,11336.046321,...,88.846801,3,NaN,81.767181,83.414506,18426,59.7,55.480714,63.919286,4

In [14]:
clean_df=df.drop(df.index[1])


# obesity_percent=df[â€˜col34']

NameError: name 'df' is not defined